.login-container {
  background: #ffffff;
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: "Segoe UI", sans-serif;
}

.login-logo {
  width: 300px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.login-input {
  width: 80%;
  max-width: 350px;
  padding: 15px;
  background: #e3e3e3;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
}

.login-btn {
  width: 60%;
  max-width: 300px;
  padding: 15px;
  background: #082B5D;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .login-logo {
    width: 150px;
  }

  .login-btn {
    width: 70%;
  }
}