.footer-wave {
  width: 100%;
  height: 90px;
  background: #082B5D;
  border-radius: 70% 70% 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 480px) {
  .footer-wave {
    height: 60px;
  }
}