.menu-toggle {
  display: none;
}

.menu {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
}

.menu span {
  height: 5px;
  background-color: #1C4A77;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background-color: #082B5D;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding-left: 20px;
  width: 100%;
}

.side-menu ul li {
  margin: 20px 0;
  display: flex;
}

.side-menu ul li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
}

.side-menu ul li a:hover {
  text-decoration: underline;
}

.side-menu.open {
  left: 0;
}

.menu.open span {
  background-color: white;
}

.menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 6px);
}

.menu.open span:nth-child(2) {
  opacity: 0;
}

.menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -6px);
}