.voluntario-container {
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-family: "Segoe UI", sans-serif;
}

.voluntario-title {
    margin-top: 120px;
    font-size: 28px;
    font-weight: bold;
    color: #585858;
    text-transform: uppercase;
}

.form-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    width: 80%;
    max-width: 350px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #4A4A4A;
    text-align: left;
}

.form-label span {
    color: red;
}

.form-input {
    width: 80%;
    max-width: 350px;
    padding: 15px;
    background: #e3e3e3;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 17px;
    color: black;
}

.voluntario-btn {
    width: 55%;
    max-width: 300px;
    padding: 15px;
    background: #082B5D;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-btn {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .voluntario-title {
        font-size: 24px;
    }

    .voluntario-btn {
        width: 70%;
    }
}