.home-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title {
  font-size: 2.5rem;
  color: #082B5D;
  margin-bottom: 20px;
}

.home-text {
  font-size: 1.2rem;
  color: #555;
}